body
{
    margin: 0;
    
}

.top-img
{
    background-image: url(./assets/image1.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    opacity: 0.70;
    
}

.txt-format
{
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
    padding: 20px;
    background-color: #111;
    color: #fff;
    font-family: "Lato", sans-serif;
    position: relative;
    top: 48%;
}

.section-txt
{
   background-color: #f4f4f4;
   text-align: center;
   color:#666;
   font-family: "Lato", sans-serif;
   font-weight: 400;
   font-size: 16px;
   padding: 50px 85px;
}

.section-txt>h2
{   
    
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.section-txt>p
{
    line-height: 1.8em;


}

.mid-img
{
    background-image: url(./assets/image2.jpg);
    height: 400px;
   background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    opacity: 0.70;
    
}

.mid-img>span
{
    color: #fff;
    padding: 20px;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    position: relative;
    top: 48%;
    width: 100%;
}

.sec2txt
{
    background-color: #282e34;
    color: #ddd;
}


.mid-img2
{
    background-image: url(./assets/image3.jpg);
}
